<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" id="theme-style" href="/static/appearance/dark.css">
        <title>魔法開關damnnn器</title>
    </head>
    <body>
        <div id="pageTransition"></div>
        <p id="content">測試測試</p>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/static/functions/audioToWav.js"></script>
        <script src="/static/functions/micListenerAndSlice.js"></script>
        <script src="/static/functions/script.js"></script>
    </body>
</html>
